@import '../../colors';

.label {
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
}

.generation {
    font-size: 1.5em;
    padding: 10px;
}

.fitness {
    font-size: 1.5em;
    padding: 10px;
}