$gray: #333;
ul {
    list-style-type: none;
    -webkit-padding-start: 0px;
    margin: 0px;
}

.label {
    text-align: right;
    font-size: 1.5em;
    padding: 10px;
}

.generation {
    font-size: 1.5em;
    padding: 10px;
}

.fitness {
  font-size: 1.5em;
  padding: 10px;    
}

.generation-label {}

.history-label {}

.history-item {
    margin-bottom: 10px;
    width: 40%;
    border-radius: 4px;
    text-align: center;
    border: 1px solid $gray;
}