@import '../../colors';


.demo-controls {
  padding: 30px;
}

button {
  display: inline-block;
  border-radius: .3em;
  border: none;
  font-weight: bold;
  color: white;
  background-color: $gray;
  padding: .75em;
  margin: .75em;
  width: 10em;
}

.start-btn {
  background-color: $boy;
}

.stop-btn {
  background-color: $rusty;
}

.reset-btn {
  background-color: $lightGray;
  :hover {
    background-color: $gray;
  }
}
